* {
    box-sizing: border-box;
}

body {
    background-color: rgb(184, 220, 240);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.cal {
    border: 1px solid black;
    background-color: rgb(12, 82, 114);
    border-radius: 10px;
    padding: 10px;
    width: 260px;
    height: 380px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.box {
    height: 50px;
    width: 50px;
}

.box1 {
    background-color: aliceblue;
    grid-column: 1 / span 4;
    height: 60px;            /* Fixed height */
    border: 1px solid black;
    padding: 5px;
    display: flex;
    flex-direction: column;   /* Stack content vertically */
    justify-content: flex-start;
    overflow-y: auto;        /* Enable vertical scroll when needed */
    overflow-x: hidden;
    white-space: normal;
    font-size: 20px;
    border-radius: 5px;
}

.box2{
    /* border: 1px solid white; */
    grid-column: 1/span 4;
    border-radius:6px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.box button {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    font-size: 18px;
    cursor: pointer;
}

.box button:hover {
    background-color: #f0f0f0;
}
